<tr <%= 'class="spam"'.html_safe if comment['is_spam'] != 0 %> data-id="<%= comment['id'] %>">
  <td class="cell-checkbox">
    <input type="checkbox" class="comment" name="id[]" value="<%= comment["id"] %>">
  </td>
  <td class="cell-avatar"><div>
      <%= comment_author_avatar(comment) %>
  </div></td>
  <td class="cell-userinfo">
    <div class="post-user">
      <%= comment_author_icon(comment) %>
      <%= comment_author_link(comment) %>
    </div>
    <div class="post-date"><%= Time.at(comment["created_at"].to_i).strftime('%Y/%m/%d') %></div>
    <div class="post-time"><%= Time.at(comment["created_at"].to_i).strftime('%H:%M') %></div>
  </td>
  <td class="cell-content">
    <% if comment['is_spam'] != 0 %>
      <div class="post-spam" style="padding-bottom:10px;">
        <div class="gray">此留言被標示為廣告留言 － </div>
        <button class="positive" type="button" onclick="$('.comment').removeAttr('checked'); $(this).parents('tr').find(':checkbox').attr('checked', 'checked'); pix.p.blog.markAsHam();"><span><img alt="這不是廣告留言" src="//s.pixfs.net/panel/images/icons/flag_green.gif"/>這不是廣告留言</span></button>
      </div>
    <% end %>
    <div class="post-content">
      <div class="post-title">
        <% if comment["is_open"] != "1" %>
          <span class="private"><img src="//s.pixfs.net/panel/images/icons/lock.gif" alt="悄悄話"> 悄悄話:</span>
        <% end %>
        <%= link_to "Re: #{comment["article"]["title"]}", comment["link"], :target => "_blank" %>
      </div>
      <div class="post-text">
        <%= comment['body'].gsub(/\n/, '<br>').html_safe %>
      </div>
        <div class="post-reply">
          <div class="do-reply reply-content" data-id="<%= comment["id"] %>"><%= comment["reply"]["body"] if comment["reply"].present? %></div>
          <span class="reply-area" style="display:none">
            <textarea class="input-style input-textarea" name="content" data-id="<%= comment["id"] %>" rows="5"><%= comment["reply"]["body"] if comment["reply"].present? %></textarea>
            <a href="javascript:;" class="save-reply" data-id="<%= comment["id"] %>">儲存</a>
            <a href="javascript:;" class="cancel-reply">取消</a>
          </span>
          <a class="do-reply" href="javascript:;">回覆</a>
        </div>
    </div>
  </td>
</tr>
