<div id="page-body" class="toolbar-hide">
  <div id="sidepanel">
    <h2 id="current-panel">部落格後台</h2>
    <div class="panel-links">
      <div class="panel-selector">
        <select name="master">
          <!--<option value="?master=Manic">Manic / 沒力小僧，羞道人的糟糕日誌</option>
          <option value="?master=manictest1">manictest1 / test blog for Manica</option>//-->
        </select>
      </div>
      <div class="panel-group">
        <h3 id="panel-blog-post"><span class="hide">文章管理</span></h3>
        <ul class="panel-ul">
          <li class="active"><%= link_to "#{image_tag('//s.pixfs.net/panel/images/icons/comments.gif')}迴響管理".html_safe, blog_comments_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="workspace">
    <div id="breadcrumb">
      <ul>
        <li >
        <span class="crumb">部落格</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li >
        <span class="crumb">文章管理</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li >
        <span class="crumb">迴響／引用管理</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li class="active">
        <span class="crumb">迴響管理</span>
        <span class="raquo">&raquo;</span>
        </li>
      </ul>
    </div><!-- breadcrumb -->
    <div id="page-tabs">
      <ul>
        <li class="active"><%= link_to '迴響管理', blog_comments_path %></li>
      </ul>
    </div>
    <div id="function-bar">
      <ul class="filter-bar-ul">
        <li class="filters-li">
        <select class="mini-select" id="filter">
          <option value="all">顯示所有迴響</option>
          <option value="nospam">只顯示非廣告迴響</option>
          <option value="noreply">只顯示未回覆的迴響</option>
          <option value="whisper">只顯示悄悄話迴響</option>
        </select>
        </li>
      </ul>
      <ul class="function-bar-ul">
        <li class="functions-li">
        <button type="button" class="drop" title="設定悄悄話">
          <span>設定／取消悄悄話</span>
        </button>
        <div class="drop-menu default" id="set-comments-menu">
          <ul>
            <li><a href="#" onclick="pix.openComment(false); return false;"><span><img src="//s.pixfs.net/panel/images/icons/lock.gif" alt=""></span>設為悄悄話</a></li>
            <li><a href="#" onclick="pix.openComment(true); return false;">取消悄悄話</a></li>
          </ul>
        </div>
        </li>
        <!--
        <li class="functions-li">
        <button type="button" title="加入留言/迴響黑名單" id="btnBlackFriend">
          <span><img src="//s.pixfs.net/panel/images/icons/user_blocked.gif" alt="加入留言/迴響黑名單">加入留言/迴響黑名單</span>
        </button>
        </li>
        //-->
        <li class="functions-li">
        <button type="button" title="檢舉廣告留言" id="btn-spam">
          <span><img src="//s.pixfs.net/panel/images/icons/flag_red.gif" alt="檢舉廣告留言">檢舉廣告留言</span>
        </button>
        </li>
        <li class="functions-li">
        <button type="button" title="刪除" id="btn-delete">
          <span><img src="//s.pixfs.net/panel/images/icons/delete-bin.gif" alt="刪除"> 刪除</span>
        </button>
        </li>
      </ul>
    </div>
    <div id="frame" class="frame-t-f">
      <%= form_tag(:url => "/", :method => :post, :remote => true) do %>
        <table id="comments-list-table" class="list-table selectable" cellspacing="0">
          <col width="25" class="cell-checkbox">
          <colgroup span="2" class="cell-userdata">
            <col width="70" class="cell-avatar">
            <col width="140" class="cell-userinfo">
          </colgroup>
          <col class="cell-content">
          <tr>
            <th><input type="checkbox" class="comment_all"></th>
            <th colspan="2">留言人／時間</th>
            <th>留言內容</th>
          </tr>
          <%= render :partial => "blog/comments/comment", :collection => @comments %>
        </table>
      <% end %>
    </div>
  </div>
</div>
<div id="footer">
  <div id="page-selector" style="float:left;">
    <form id="page-form" action="/blog/comments?filter=<%= @filter %>" method="get">
      <ul>
        <li><a href="/blog/comments?filter=<%= @filter %>" class="page-select-first"><span>最前頁</span></a></li>
        <li><a href="/blog/comments?filter=<%= @filter %>&amp;page=<%= @page > 1 ? @page - 1 : 1 %>" class="page-select-prev" onclick="return pix.change_page_delta(-1);"><span>上一頁</span></a></li>
        <li><input type="text" value="<%= @page %>" name="page" class="current"><input type="text" value="/<%= @total_page %>" class="total" readonly="readonly" id="totalpage"></li>
        <li><a href="/blog/comments?filter=<%= @filter %>&amp;page=<%= @page < @total_page ? @page + 1 : @total_page %>" class="page-select-next" onclick="return pix.change_page_delta(1);"><span>下一頁</span></a></li>
        <li><a href="/blog/comments?filter=<%= @filter %>&amp;page=<%= @total_page %>" class="page-select-last" onclick="return pix.change_page(-1)"><span>最末頁</span></a></li>
      </ul>
        <input type="submit" style="left: -1000px; top: -1000px; position: absolute;">
    </form>
  </div>
</div>
<script type="text/javascript">
<!--
$(function() {

  function get_ids() {
    var ids = '';
    $(':checkbox.comment:checked').each(function() {
      ids += $(this).val() + ',';
    });
    return ids;
  }

  var base_url = '/blog/comments';

  $('.do-reply, .cancel-reply').live('click', function() {
    $(this).parents('tr').find('.do-reply, .reply-area').toggle();
    return false;
  });

  $('.save-reply').live('click', function() {
    var id = $(this).data('id');
    var action = "/blog/comments/" + id + "/reply",
        $tr = $(this).parents('tr'),
        csrf_token = $('meta[name=csrf-token]').attr('content'),
        csrf_param = $('meta[name=csrf-param]').attr('content'),
        reply_body = $('textarea[data-id="' + id +  '"]').val();
    $.post(action, {
      csrf_param: csrf_token,
      "body": reply_body
    }, function(ret) {
      if (ret.error == '0') {
        $('div.reply-content[data-id="' + id + '"]').text(reply_body);
        $tr.find('.do-reply, .reply-area').toggle();
      }
    }, 'json');
    return false;
  });

  $('#btn-delete').click(function(){
    if (!confirm('你確定要刪除嗎？')) {
      return false;
    }
    var ids = get_ids(), action = '/blog/comments/destroy_batch',
        csrf_token = $('meta[name=csrf-token]').attr('content'),
        csrf_param = $('meta[name=csrf-param]').attr('content');
    $.post(action, {
      csrf_param: csrf_token,
      "ids": ids
    }, function(ret) {
      document.location.reload();
    }, 'json');
  });

  $('#btn-spam').click(function(){
    var ids = get_ids(), action = '/blog/comments/mark_spam_batch',
        csrf_token = $('meta[name=csrf-token]').attr('content'),
        csrf_param = $('meta[name=csrf-param]').attr('content');
    $.post(action, {
      csrf_param: csrf_token,
      "ids": ids
    }, function(ret) {
      document.location.reload();
    }, 'json');
  });

  $('.btn-ham').live('click', function() {
    var id = $(this).data('id'),
    csrf_token = $('meta[name=csrf-token]').attr('content'),
    csrf_param = $('meta[name=csrf-param]').attr('content');
    $.post('/blog/comments/' + id + '/mark_ham', { csrf_param: csrf_token }, function(ret) {
      document.location.reload();
    }, 'json');
  })

  $('#filter').change(function() {
    document.location.href = base_url + '?filter=' + $(this).val();
  });

  $(':checkbox.comment_all').click(function() {
    var val = $(this).attr('checked');
    $(':checkbox.comment').attr('checked', val);
  });

  $('#filter').val('<%= @filter %>');
});
//-->
</script>
