<div id="page-body" class="toolbar-hide">
  <%= render :partial => "sidepanel" %>
  <div id="workspace">
    <div id="breadcrumb">
      <ul>
        <li >
        <span class="crumb">外掛</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li >
        <span class="crumb">部落格</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li >
        <span class="crumb">側邊欄位</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li class="active">
        <span class="crumb">Banner 連結管理</span>
        <span class="raquo">&raquo;</span>
        </li>
      </ul>
    </div><!-- breadcrumb -->
    <div id="function-bar">
      <ul class="action-bar-ul">
        <li class="actions-li">
        <button type="button" onclick="document.location='<%= new_plugin_banner_path %>'">
          <span><img src="//s.pixfs.net/panel/images/icons/add.gif" alt="增加新連結"> 增加新連結</span>
        </button>
        </li>
      </ul>
    </div>
    <div class="content">
      <h3 class="section-header" id="basic-info"><span class="hide">修改Banner連結</span></h3>
      <% form_for(@banner, :url => plugin_banner_path(@banner)) do |f| -%>
        <table class="settings-table th-large" cellspacing="0">
          <tr>
            <th> <label for="banner_image">圖片</label> </th>
            <td>
              <%= image_tag(@banner.image) %><br>
              <%= f.text_field :image, :class => "input-style input-text" %>
            </td>
          </tr>
          <tr>
            <th> <label for="banner_url">連結</label> </th>
            <td><%= f.text_field :url, :class => "input-style input-text" %> </td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit :value => "修改" %> </td>
          </tr>
        </table>
      <% end -%>
    </div>
  </div>
</div>
<div id="footer">
  <div id="page-selector" style="float:left;">
  </div>
</div>
<script type="text/javascript">
</script>
