<% content_for(:header_js) do %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<% end %>
<div id="page-body" class="toolbar-hide">
  <%= render :partial => "sidepanel" %>
  <div id="workspace">
    <div id="breadcrumb">
      <ul>
        <li >
        <span class="crumb">外掛</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li >
        <span class="crumb">部落格</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li >
        <span class="crumb">側邊欄位</span>
        <span class="raquo">&raquo;</span>
        </li>
        <li class="active">
        <span class="crumb">Banner 連結管理</span>
        <span class="raquo">&raquo;</span>
        </li>
      </ul>
    </div><!-- breadcrumb -->
    <div id="function-bar">
      <ul class="action-bar-ul">
        <li class="actions-li">
        <button type="button" onclick="document.location='<%= new_plugin_banner_path %>'">
          <span><img src="//s.pixfs.net/panel/images/icons/add.gif" alt="增加新連結"> 增加新連結</span>
        </button>
        </li>
      </ul>
    </div>
    <div class="content">
      <h3 class="section-header" id="basic-info"><span class="hide">Banner連結</span></h3>
      <div class="notice">
        <ul>
          <li>可以直接對圖片拖拉進行排序的動作</li>
        </ul>
      </div>
      <ul id="banners_list">
        <% @banners.each do |banner| %>
          <li id="banner_<%= banner.id %>">
          <%= link_to(image_tag(banner.image), banner.url, :target => "_blank") %>
          <%= link_to('修改', edit_plugin_banner_path(banner)) %>
          <%= link_to('刪除', plugin_banner_path(banner), :method => "delete", :confirm => "你確定嗎") %>
          <li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div id="page-selector" style="float:left;">
  </div>
</div>
<script type="text/javascript">
  <!--
  $(function() {
    $('#banners_list').sortable(
      {
        opacity: 0.4,
        update: function() {
          $.ajax({
            type: 'post',
            data: $('#banners_list').sortable('serialize'),
            dataType: 'script',
            complete: function(request) {
              $('#banners_list').effect('highlight');
            },
            url: '<%= sort_plugin_banners_path %>'
          });
        }
      });
  });
  //-->
</script>
